{% extends "main.html" %}

{% block body %}

<div class="contentindex">
    <h1> Saisie d'un nouvel acteur</h1>
        {% if id is not None %}
            <form method="post" action="/updatetraitement-acteurs/{{id}}/" enctype="multipart/form-data">
        {% else %}
            <form method="post" action="/traitement-acteurs/" enctype="multipart/form-data">
        {% endif %}
        {% csrf_token %}
        {{ form.as_ul }}
        <input type="submit" value="Envoyer les données"/>
    </form>
</div>

{% endblock body %}