{% extends "main.html" %}

{% block body %}
<div class="content">

    <h1>Accueil</h1>

        <div class="block">
            <h2 id="titre">SAE 23 - Mettre en place une solution informatique pour l'entreprise</h2>
            <p></p>
        </div>
        <div class="block">
            <h2 class="contenu">Bienvenue sur notre site web permettant la gestion d'une banque de film.</h2>
            <h2 class="contenu">On y retrouve 5 CRUD : Film, Acteur, Catégorie, Commentaire et Utilisateur.</h2>
        </div>
        <div class="block">
            <h2>Sur ce site, vous pourrez ajouter des films ainsi que les acteurs qui jouent dedans, les commenter avec un utilisateur spécifique et aussi attribuer une catégorie à un film.</h2>
            <h2>Vous pouvez effectuer tout cela en saisissant les données manuelement ou bien en insérant un fichier CSV.</h2>
            <h2>Il est aussi possible de générer un PDF récapitulatif d'un film avec ses acteurs, sa catégorie et ses commentaires attribués.</h2>
        </div>
</div>
{% endblock body %}