{% extends "main.html" %}

{% block body %}

<div class="contentindex">
    <h1> Saisie d'un nouvel utilisateur</h1>
        {% if id is not None %}
                <form method="post" action="/updatetraitement-utilisateurs/{{id}}/">
            {% else %}
                <form method="post" action="/traitement-utilisateurs/">
            {% endif %}
        {% csrf_token %}
        {{form.as_ul}}
        <input type="submit" value="envoyez les données"/>
    </form>
</div>

{% endblock body %}