{% extends "main.html" %}

{% block body %}

<div class="container">
    <h1>Liste des utilisateurs</h1>
    <a class="button" href="/ajout-utilisateurs">Ajouter un utilisateur</a>

    <ul class="list"> 
        <ol>
            {% for u in liste %}
                <li> {{u}} <a class="button" href="/affiche-utilisateurs/{{u.id}}/"> Afficher </a> <a class="button" href="/update-utilisateurs/{{u.id}}/"> Modifier </a> <a class="button button-danger" href="/delete-utilisateurs/{{u.id}}/"> Supprimer </a> </li>
            {% endfor %}
        </ol>
    </ul>
</div>

{% endblock body %}    