{% extends "main.html" %}

{% block body %}

<div class="contentindex">
    <h1> Saisie d'un nouveau film</h1>
        {% if id is not None %}
            <form method="post" action="/updatetraitement-films/{{id}}/" enctype="multipart/form-data">
        {% else %}
            <form method="post" action="/traitement-films/" enctype="multipart/form-data">
        {% endif %}
        {% csrf_token %}
        {{form.as_ul}}
        <input type="submit" value="envoyez les données"/>
    </form>
</div>

{% endblock body %}