{% extends "main.html" %}

{% block body %}


<div id="test">

<div class="login-card">
    <div class="card-header">
      <h1>Modifier</h1>
    </div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="username">Nom</label>
          <input type="text" id="username" name="username" required="">
        </div>
        <div class="form-group">
          <label for="password">Emplacement</label>
          <input type="password" id="password" name="password" required="">
        </div>
        <div class="form-group">
          <button type="submit" class="login-button">Envoyer les données</button>
        </div>
      </form>
    </div>
  </div>
  
</div>


{% endblock body %}



