<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href={% static "style.css" %}>
</head>
<body>

    <header>

        <div class="navbar">
            <a href="/index/" class="link">Accueil</a>
            <a href="/index-films/" class="link">Films</a>
            <a href="/index-categories/" class="link">Catégories</a>
            <a href="/index-acteurs/" class="link">Acteurs</a>
            <a href="/index-commentaires/" class="link">Commentaires</a>
            <a href="/index-utilisateurs/" class="link">Utilisateurs</a>
        </div>

    </header>

    {% block body %}

    {% endblock body%}

</body>
</html>