{% extends "main.html" %}

{% block body %}
<div class="affiche_commentairefilm">
    {% if commentaires %}
        <p>Moyenne des notes : {% if moyenne_notes %}{{ moyenne_notes|floatformat:"2" }}/20{% else %}Pas de moyenne disponible{% endif %}</p>

        {% if meilleure_note %}
        <ul>
            <li>
                <strong>Meilleure note : {{ meilleur_utilisateur }} ({{ meilleure_note }}/20)</strong>
                <p>{{ meilleure_commentaire.commentaire }}</p>
                <p>Posté le {{ meilleure_commentaire.date }}</p>
            </li>
        </ul>
        {% endif %}
        {% if pire_note %}
        <ul>
            <li>
                <strong>Pire note : {{ pire_utilisateur }} ({{ pire_note }}/20)</strong>
                <p>{{ pire_commentaire.commentaire }}</p>
                <p>Posté le {{ pire_commentaire.date }}</p>
            </li>
        </ul>
        {% endif %}

        <ul>
            {% for commentaire in commentaires %}
                {% if commentaire != meilleure_commentaire and commentaire != pire_commentaire %}
                    <li>
                        <strong>{{ commentaire.utilisateur.pseudo }} ({{ commentaire.note }}/20):</strong>
                        <p>{{ commentaire.commentaire }}</p>
                        <p>Posté le {{ commentaire.date }}</p>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucun commentaire pour ce film.</p>
</div>
    {% endif %}
{% endblock body %}