{% extends "main.html" %}

{% block body %}

<div class="container">
    <h1>Espace commentaires</h1>
    <a class="button" href="/ajout-commentaires">Ajouter un commentaire sur un film</a>

    <ul class="list"> 
        <ol>
            {% for c in liste %}
                <li> {{c}} <a class="button" href="/affiche-commentaires/{{c.id}}/"> Afficher </a> <a class="button" href="/update-commentaires/{{c.id}}/"> Modifier </a> <a class="button button-danger" href="/delete-commentaires/{{c.id}}/"> Supprimer </a> </li>
            {% endfor %}
        </ol>
    </ul>
</div>

{% endblock body %}